# Core
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.4.1+cu118
torchvision==0.15.2+cu118
torchaudio==2.4.1+cu118

numpy==1.23.5
# torch==2.4.1+cu118
# torchvision==0.15.2+cu118
# torchaudio==2.5.1+cu118
typing-extensions==4.8.0

# Linting / Analysis
pylint==3.2.0
astroid==3.2.2
flake8==6.1.0
flake8-import-order==0.18.1
mccabe==0.7.0
pycodestyle==2.10.0
pyflakes==2.5.0
importlib-metadata==6.0.0

# Jupyter / Notebook
jupyter==1.0.0
jupyter-core==4.12
jupyter-client==7.4.0
notebook==6.5.2
nbformat==5.10.4
nbconvert==7.6.3
ipywidgets==7.7.2
widgetsnbextension==4.0.7
qtconsole==5.5.3
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
nest-asyncio==1.5.6
fastjsonschema==2.21.2

# Utilities / Dependencies
attrs==23.2.0
argon2-cffi==22.3.0
async-generator==1.10
backcall==0.2.0
bleach==6.1.0
certifi==2025.7.1
cffi==1.15.1
chardet==5.2.0
cloudpickle==2.3.1
colorama==0.4.6
cycler==0.11.0
Cython==0.30.2
decorator==5.1.1
defusedxml==0.7.1
docopt==0.6.2
entrypoints==0.4
filelock==3.12.0
future==0.18.3
gdown==4.7.1
gitdb==4.0.10
GitPython==3.1.32
idna==3.5
imageio==2.28.0
ipykernel==6.29.1
ipython==8.17.0
ipython-genutils==0.2.0
isort==5.12.0
jedi==0.19.1
Jinja2==3.1.2
jsonpatch==1.32
jsonpickle==3.0.1
jsonpointer==2.3
jsonschema==4.19.0
kiwisolver==1.4.5
lap==0.4.0
lapsolver==1.1.0
lazy-object-proxy==1.9.0
MarkupSafe==2.1.3
matplotlib==3.7.2
mistune==2.0.5
more-itertools==9.1.0
motmetrics==1.2.0
munch==2.5.0
nbclient==0.8.0
networkx==3.1
ninja==1.11.1
opencv-python==4.8.1.78
packaging==23.1
pandas==2.1.1
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.1
pluggy==1.2.0
prometheus-client==0.17.0
prompt-toolkit==3.0.38
ptyprocess==0.7.0
py==1.11.0
py-cpuinfo==9.0.0
pyaml==21.10.1
pyrsistent==0.19.3
PySocks==1.7.1
pytest==7.4.0
pytest-benchmark==4.0.1
python-dateutil==2.8.2
pytz==2025.7
PyWavelets==1.4.1
PyYAML==6.1
qtpy==2.5.1
requests==2.31.0
sacred==0.8.1
scikit-image==0.21.0
scipy==1.11.1
seaborn==0.12.2
Send2Trash==1.8.2
six==1.17.1
smmap==5.0.0
submitit==1.5.0
terminado==0.20.1
testpath==0.7.2
tifffile==2023.10.0
toml==0.10.2
torchfile==0.1.0
tornado==6.3
tqdm==4.66.1
traitlets==5.9.0
typed-ast==1.5.4
urllib3==2.0.4
visdom==0.2.9
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==1.6.1
wrapt==1.14.1
xmltodict==0.13.0
zipp==3.16.0
